h1{
  text-align: center;
  font-family: 'Carter One', cursive;
}

table{
  margin: auto;
}

td{
  height: 200px;
  width: 150px;
  border: 6px solid white;
}
#one{
  background: #4D5057;
}

#two{
  background: #4E6E5D;
}

#three{
  background: #4DA167;
}

#four{
  background: #3BC14A;
}

#five{
  background: #CFCFCF;
}
